@media print {
  .text-center,
  .col-sm-12 {
    width: 100%;
    box-sizing: border-box;
  }
  .img-circle {
    width: 30px; /* Default size for larger screens */
    height: 30px;
    border-radius: 50%;
    object-fit: cover; /* Ensures the image fits the circle */
  }
  
  /* Media query for mobile devices */
  @media (max-width: 768px) { /* Adjust the max-width as needed */
    .img-circle {
      width: 20px; /* Size for mobile */
      height: 20px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  h5,
  h6,
  p {
    page-break-inside: avoid;
    overflow-wrap: break-word; /* Ensure text wraps within the container */
    word-wrap: break-word; /* For older browsers */
    hyphens: auto; /* Add hyphens where necessary */
  }

  .mt-4,
  .mt-3 {
    margin-top: 30mm;
  }

  #modalContent {
    background-color: white;
    height: 210mm;
    width: 100%;
    color: #000;
    margin-left: 0;
    padding-left: 0;
  }

  .cont {
    margin: 0;
    padding: 0;
    width: 200px;
  }

  .inform {
    display: flex;
  }

  .wrapper {
    margin-right: 150px;
    padding-right: 120px;
    width: 100%;
  }

  .row {
    width: 155px;
  }

  .par,
  .pres,
  .press,
  .presss,
  .pressss,
  .fullname,
  .conte,
  .contepar {
    color: #000;
    font-weight: bold;
    overflow-wrap: break-word; /* Ensure text wraps correctly */
    word-wrap: break-word; /* For older browsers */
    hyphens: auto; /* Add hyphens where necessary */
  }

  .par {
    font-size: 7.2px;
    text-transform: lowercase;
  }

  .pres {
    font-size: 6.5px;
  }

  .press {
    font-size: 5.7px;
  }

  .presss {
    font-size: 5.8px;
  }

  .pressss {
    font-size: 5.5px;
  }

  h5 {
    font-size: 9px;
  }

  h6 {
    font-size: 8.2px;
  }

  .tab,
  .tabb1,
  .tabb2 {
    border-color: #000;
    margin-top: 0;
    width: 100%;
  }

  .tab th,
  .tab td,
  .tabb1 th,
  .tabb1 strong,
  .tabb2 th,
  .tabb2 td {
    color: #000;
    background-color: white;
  }

  .btn,
  footer {
    display: none; /* Hide buttons and footer */
  }
}
